.hero {
    
    box-sizing: border-box;
    /* background: rgb(48,18,117); */
    /* background: linear-gradient(168deg, rgba(48,18,117,1) 35%, rgba(0,139,201,1) 100%); */
    margin-bottom: 5rem;

    }
.particles{
        position: relative;
        z-index: -1;
}
   
.hero__main{
    display: flex;
    justify-content: space-around;   
    }
.hero__text{
    max-width: 550px;
    margin: 16rem 0 2rem 0;
    /* margin-left: auto; */
}
.hero__text h1{
    color: white;
    font-size: 75px;
    /* color: #ffffff; */
    
    

}
.hero__text p{
    color: white;
    font-size: 15px;
    line-height: 1.8;

}
.hero__text button{
    border-radius: 10px;
    height: 50px;
    width: 200px;
    color: #ffffff;
    border-style: none;
    margin-bottom: 10rem;
    background-color:  #00b0ee;
    margin-top: 1rem;
    transition: 0.5s;
}
.hero__text button:hover{
    background-color: aqua;
    transition: 0.5s;
}
/* @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  } */
.hero__image1{
    position: relative;
    top: 30px;
    overflow-x: hidden;
    max-width: 800px;
    -webkit-animation: rotate-center 35s linear infinite;
	        animation: rotate-center 35s linear infinite;
}
.hero__image2{
    position: absolute;
    top: 150px;
    left: 110px;
}
/* .hero__image3{
    position: absolute;
    top: 62%;
    right: 36%;
    -webkit-animation: hero__image2 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: hero__image2 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.hero__image4{
    position: absolute;
    top: 470px;
    right: 130px;
    -webkit-animation: hero__image2 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: hero__image2 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.hero__image5{
    position: absolute;
    top: 200px;
    right: 480px;
    -webkit-animation: hero__image2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: hero__image2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.hero__image6{
    position: absolute;
    top: 250px;
    right: 150px;
    -webkit-animation: hero__image2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: hero__image2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */