.service{
    text-align: center;
    margin-top: 1rem;
}


.service__main{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}
@media screen and (max-width: 1000px) {
    .service__main{
        flex-direction: column;
        align-content: center;
    }
  }
.service__featured{
    max-width: 50%;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .service__featured{
        max-width: 100%;
        padding: 1rem;
    }
  }
.service__featured p{
    color: #00b0ee;
}
.service__featured__sub{
    background: #f3effb;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    height: 60px;
    margin: 5px;
}
@media screen and (max-width: 1000px) {
    .service__featured__sub{
        width: 90%;
    }
  }
.service__featured__sub h5{
    margin-top: 15px;
}
.service__featured__sub:hover{
    background-color: #00b0ee;
    color: white;
    transition: 1s;
}

.service__featured__main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.service__image{
    margin-top: 4rem;
    max-width: 45%;
}
@media screen and (max-width: 1000px) {
    .service__image{
        margin-top: 1rem;
        max-width: 90%;
        padding: 1rem;
    }
  }