.testimonial_main{
  text-align: center;
  margin-top: 1rem;
  
}


.app__testimonial_main{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.app__testimonial {
    flex: 1;
    width: 100%;
    flex-direction: column;
  }

  
  
  .app__testimonial_item {
    width: 80%;
    min-height: 320px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  @media screen and (max-width: 600px) {
    .app__testimonial_item{flex-direction: column;}
  }
  @media screen and (max-width: 850px) {
    .app__testimonial_item{ width: 100%;}
  }
  .app__testimonial_item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    .app__testimonial_item img {
      width: 150px;
      height: 150px;
    }
  }

  .app__testimonial_content {
    flex: 1;
    height: 100%;
    padding: 0 2rem;
    text-align: left;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  
  }
  @media screen and (max-width: 600px) {
    .app__testimonial_content {margin-top: 2rem;
  padding: 0;
    }
}
  .app__testimonial_content h5 {
    font-weight: 400;
    color: gray;
    margin-top: 5px;
  }
  .app__testimonial_content h4 {
    font-weight: 600;
    color: #00b0ee ;
    margin-top: 2rem;
  }
  .app__testimonial_content p {
    font-size: 1.25rem;
    line-height: 2rem;
    color: black;
  }
  @media screen and (min-width: 2000px) {
    .app__testimonial_content p { font-size: 2rem;
  line-height: 3.5rem;}
}
  
  .app__testimonial_btns {
    flex-direction: row;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app__testimonial_btns div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 2000px) {
    .app__testimonial_btns div{
    width: 100px;
    height: 100px;}
    .app__testimonial_btns div svg {
        width: 45px;
        height: 45px;
      }
  }
  .app__testimonial_btns div:hover {
    background-color: #00b0ee;
  }
  .app__testimonial_btns svg:hover {
    color: white;
  }

  .app__testimonial_btns svg {
    width: 20px;
    height: 20px;
    color: #00b0ee;
  }
  
  .app__testimonial_brands {
    width: 80%;
    flex-wrap: wrap;
    margin-top: 2rem;
    
  }
  @media screen and (max-width: 800px) {
    .app__testimonial_brands{ width: 100%;}
  }
  .app__testimonial_brands div {
    width: 150px;
    margin: 1.5rem;

  }

    .app__testimonial_brands div img {
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: grayscale(1);
      }
  @media screen and (min-width: 2000px) {
    .app__testimonial_brands div{  
  width: 210px;
  margin: 2rem;
}
}

@media screen and (max-width: 450px) {
    .app__testimonial_brands div{  
  width: 120px;
  margin: 1rem;
  
}
}

.app__testimonial_brands div img:hover {
    filter: grayscale(0);
}